:root {
  --main-bg-color: #fbfbfb;
}

body {
    background-color: var(--main-bg-color);
}

.container {
    margin-top: 1rem;
    background-color: inherit;
}

.menu__logo {
    width: 100px;
    height: 100px;

    padding: .3rem;
    position: relative;
    z-index: 20;
}

.cross {
    width: 100px;
    height: 100px;
    position: relative;
}

.nav-item {
    list-style: none;
}

.overlay {
    width: 100px;
    height: 100px;
    background-color: inherit;
    border-radius: 50%;
animation:spin 4s linear infinite;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.cross:hover .overlay {

    border: 2px solid #000;
}

.overlay::before {
    background: none;
  border: 10px solid var(--main-bg-color);
  content: "";
  display: block;
  position: absolute;
  top: 6px;
  left: 6px;
  right: 6px;
  bottom: 6px;
  pointer-events: none;
}
/*
.overlay__border {
    height: 20px;
    width: 20px;
    background-color: purple;
    transform: translate(-50%, 0%);
    position: absolute;
    top: -20%;
    left: 50%;
    clip-path: polygon(50% 0%, 61% 35%, 98% 35%, 68% 57%, 79% 91%, 50% 70%, 21% 91%, 32% 57%, 2% 35%, 39% 35%);
}
.overlay__border2 {
    top: 100%;
    bottom: 15%;
    left: 50%;
    transform: translate(-50%, 0%) rotate(180deg);
}*/

@keyframes spin { 100% { -webkit-transform: translate(-50%, -50%) rotate(360deg); transform: translate(-50%, -50%) rotate(360deg); } }

/* ABOUT.HTML */

.about {
    margin-top: 4rem;
}

.about__img {
    width: 40%;
    float: left;
    border-radius: 10px;
    margin-right: 2rem;
    /*object-fit: cover*/
}

.about__text {
    text-align: center;
}

/* OURGEMS.HTML */

.gems {
    display: flex;
    height: 500px;
    background-color: rgba(0,0,0,0.5);
    transform: skewX(-10deg);
    overflow: hidden;
    margin-top:  2rem;
}

.gem {
    width: 35%;
    height: 500px;
    background-color: rgba(0,0,255,0.5);
    flex: 1;
    transition: .1s;
    cursor: pointer;
    border: 2px solid #000;
}
.person1 {
    background:linear-gradient(0deg, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url(img/mark.png);
    background-size: cover;
    background-position: center;
}
.person2 {
    background:linear-gradient(0deg, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url(img/conan-obrien.png);
    background-size: cover;
    background-position: center;
}
.person3 {
    background:linear-gradient(0deg, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url(img/lilpump.jpg);
    background-size: cover;
    background-position: center;
}
.person4 {
    background:linear-gradient(0deg, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url(img/david.jpg);
    background-size: cover;
    background-position: center;
}
.person1:hover {
    flex: 1.5;
    background:linear-gradient(0deg, rgba(0, 0, 0, 0.0), rgba(0, 0, 0, 0.0)), url(img/mark.png);
    background-size: cover;
    background-position: center;
}
.person2:hover {
    flex: 1.5;
    background:linear-gradient(0deg, rgba(0, 0, 0, 0.0), rgba(0, 0, 0, 0.0)), url(img/conan-obrien.png);
    background-size: cover;
    background-position: center;
}
.person3:hover {
    flex: 1.5;
    background:linear-gradient(0deg, rgba(0, 0, 0, 0.0), rgba(0, 0, 0, 0.0)), url(img/lilpump.jpg);
    background-size: cover;
    background-position: center;
}
.person4:hover {
    flex: 1.5;
    background:linear-gradient(0deg, rgba(0, 0, 0, 0.0), rgba(0, 0, 0, 0.0)), url(img/david.jpg);
    background-size: cover;
    background-position: center;
}



.gem__name {
    margin-bottom: 2rem;
    text-align: center;
}

.gem__img {
    border-radius: 10px;
    width: 50%;
}

.gem__div {
    margin-top: 4rem;
    background-color: inherit;
}

.mark__content, .lilpump__content {
    display: flex;
    flex-direction: row;
}

.conan__content, .david__content {
    display: flex;
    flex-direction: row-reverse;
}

.gem__text {
    padding: 2rem;
    column-count: 2;
}

.gem__div:last-child {
    margin-bottom: 4rem;
}


/* kod lila daj muziku i interval da rokaju boje!!! */