.container {
    margin-top: 1rem;
}

.menu__logo {
    width: 100px;
    height: 100px;

    padding: .3rem;
    position: relative;
    z-index: 20;
}

.cross {
    width: 100px;
    height: 100px;
    position: relative;
}

.nav-item {
    list-style: none;
}

.overlay {
    width: 100px;
    height: 100px;
    background-color: transparent;
    border-radius: 50%;
    border: 2px solid #000;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

}

.cross:hover .overlay {
    animation:spin 4s linear infinite;
}

.overlay::before {
    background: none;
  border: 10px solid #fff;
  content: "";
  display: block;
  position: absolute;
  top: 4px;
  left: 4px;
  right: 4px;
  bottom: 4px;
  pointer-events: none;
}
/*
.overlay__border {
    height: 20px;
    width: 20px;
    background-color: purple;
    transform: translate(-50%, 0%);
    position: absolute;
    top: -20%;
    left: 50%;
    clip-path: polygon(50% 0%, 61% 35%, 98% 35%, 68% 57%, 79% 91%, 50% 70%, 21% 91%, 32% 57%, 2% 35%, 39% 35%);
}
.overlay__border2 {
    top: 100%;
    bottom: 15%;
    left: 50%;
    transform: translate(-50%, 0%) rotate(180deg);
}*/

@keyframes spin { 100% { -webkit-transform: translate(-50%, -50%) rotate(360deg); transform: translate(-50%, -50%) rotate(360deg); } }

/* ABOUT.HTML */

.about {
    margin-top: 4rem;
}

.about__img {
    width: 40%;
    float: left;
    border-radius: 10px;
    margin-right: 2rem;
    /*object-fit: cover*/
}

.about__text {
    text-align: center;
}

/* OURGEMS.HTML */

.gems {
    display: flex;
    height: 500px;
    background-color: rgba(0,0,0,.5);
    transform: skewX(-10deg);
}

.gem {
    width: 25%;
    height: 500px;
    background-color: rgba(0,0,255,.5);
    flex: 1;
    transition: .1s;
}
.person1 {
    background-color: red;
}
.person1:hover {
    flex: 2;
     background-color: blue;
}
.person2:hover {
    flex: 2;
}
.person3:hover {
    flex: 2;
}
.person4:hover {
    flex: 2;
}

